main #usuario{
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 45%;
    width: 170px;
    height: 35px;
}

main #senha{
    z-index: 1;
    position: absolute;
    top: 55%;
    left: 45%;
    height: 35px;
}

.btn button{
    color: white;
    background-color: rgb(81, 160, 3);
    width: 20%;
    height: 65px;
    border:transparent;
    border-radius: 12px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}

.btn button:hover{
    background-color: rgb(53, 104, 1);
}

main .btn{
    position: absolute;
    top: 60%;
    left: 45%;
    align-items: center;
    align-content: center;
    width: 20%;
    height: 70px;
    z-index: 1;
}

.btn2 button{
    color: white;
    background-color: rgb(81, 160, 3);
    width: 20%;
    height: 65px;
    border:transparent;
    border-radius: 12px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}

.btn2 button:hover{
    background-color: rgb(53, 104, 1);
}

main .btn2{
    position: absolute;
    top: 60%;
    left: 50%;
    align-items: center;
    align-content: center;
    width: 20%;
    height: 70px;
    z-index: 1;
}